.container{
    background: linear-gradient(#e66465, #9198e5);   
    height: 850px;
    align-items: center;
    padding: 150px 27% ;
     

}
.form{
    background-color: floralwhite   ;
    height: 580px;
    width: 350px;
    border-radius: 30px;
    padding-left: 20px;

}

.containerWrap{
    background-color: floralwhite   ;
    height: 80px;
    text-align: center ;
    padding-top: 35px;
    font-size:xx-large;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 30px;

    
}

.info{
    background-color: floralwhite   ;
    height: 250px;
    align-items: center center;
    display: block;

}


 .infowrap label{
    padding-top: 20px;
    font-weight: 30px;
    line-height: 0.;
    text-align: left;
    color: rgb(16, 26, 45);
    font-family:cursive;
    
    

 }

 input{
    background-color:floralwhite;
    color: rgb(166, 174, 190);
    font-size: small;
    width: 90%;
    border-top: 5px;
    border-left: 5px;
    border-right: 5px;   
    border-color: rgb(113, 104, 104);
    cursor:text;
 }

 .info3 label{
    padding: 0 200px ;
    font-size: small;
    color: black;
 }
 .btn{
    width: 90%;
    border-radius: 60px;
    height: 40px;
    background: linear-gradient(#e66465, #9198e5);  
    color: azure;
 }
 .media{
    align-items: center;
    display: block;
    padding-top: 20px;

    
 }
 p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }
 .logo{
    padding-left:40%;
    justify-content:space-evenly;
    cursor: pointer;

 }

